<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Edit your posts</h2>
<p><b>PostId:</b> <%= post.id %></p>
<p><b>Username:</b> <%= post.Username %></p>
<form method="post" action="/posts/<%= post.id %>?_method=patch">
<textarea name="content" id="content" rows="5"><%=post.content %></textarea>
  <button type="submit">submit</button>
</form>
</body>
</html>