<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding post</title>
</head>
<body>
    <form action="/posts"  method="post">
        <input type="text" name="Username" id="Username" placeholder="Username"> <br><br>
        <textarea name="content" id="content" placeholder="Add your content here"></textarea><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>