<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <h2>Here is your post in detail </h2>
    <p> id is : <%= post.id %></p>
    <h2 class="user" style="color: black; font-style: italic;">@<%= post.Username %></h2>
    <div class="post">
    <h3 class="post" style="background-color: rgb(233, 236, 225);"><%= post.content %></h3>
</div>
</body>
<link rel="stylesheet" href="C:\Users\ASUS\Backened\6.RestClass\public\index.css">
</html>