<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(153, 218, 89, 0.3);">
    <h1>You can add a message</h1>
    <form method="post" action="/chats">
        <input type="text" name="from" id="from" placeholder="sender name"> <br> <br>
        <input type="text" name="to" id="to" placeholder="Receiver name"> <br> <br>
        <textarea name="msg" id="msg" rows="5">Add your message here</textarea> <br> <br>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>